meta(charset="utf-8")
title= title || 'Template'
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
meta(name="theme-color" content="#fff")
meta(name="format-detection" content="telephone=no")
include _media-tags.pug
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600,700&amp;subset=cyrillic")
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
link(rel="stylesheet" media="all" href="css/app.css")
link(rel="shortcut icon" href="img/favicon.ico")

