include _mixins
doctype html
html
  head
    include _head

  body(class=bodyClass)
      block header
        include ../partials/_header
      block content
      block footer
        include ../partials/_footer
      block scripts
        include ../partials/_scripts
        

